@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-image: url("https://pics.craiyon.com/2023-12-20/wmp3EHwCQfGfeSsQvUQX3w.webp");
  text-align: center;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  margin: auto;
   font-family: "Poetsen One", serif;
}

h1{
  font-size: 30px;
  color: white;
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 30px;
  border: 5px solid white;
}



